.loginAndSignUp{
    
    .signContainer{
        position:absolute;
        top:0;
        width: 60vw;
        height: 100vh;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .sign{
            width: 385px;

            .signHeading{
                margin: 0 0 5px;
                font-weight: 700;
                font-size: 36px;
            }

            .signDesc{
                margin: 0;
                font-family: 'Lato';
                font-weight: 400;
                font-size: 16px;
            }


            .emailpwForm{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;

                .uNameContainer{
                    display: inline-flex;
                    gap: 25px;
                    width: 100%;

                    .uName{
                        width: 150px;
                    }
                }
        
                #pw, #email, #confirm, #fName, #lName{
                    box-sizing: border-box;
                    margin:10px 0 20px;
                    padding: 10px 15px;
                    width: 100%;
                    height:40px;
                    background-color: #EAEAEA;
                    border-radius: 10px;
                    border: none;
                    outline: transparent;
                
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                }
        
                .forgotPwBtn{
                    color: #346BD5;
                    margin: 0 0 20px;
                }
                
                .signBtn{
                    width: 100%;
                    height: 40px;
                    border:none;
                    background: #0D5F9A;
                    border-radius: 10px;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 700;
                    color: #FFFFFF;
                } 
            }

            .registerQs{
                font-family: 'Lato';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #858585;
            
                
                .registerBtn{
                    color: #346BD4;
                }
            }
        }       
    }
}
