.apexcharts-label{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    color: #858585;
}

.seriesPercentage{
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    color: #858585;
    margin-top:2px;
    padding-left: 22px;
}

.apexcharts-legend-text{
    padding-left: 22px !important;
}