.totalCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

.chartScheduleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:264px
}