.authButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .authButton{
        height: 30px;
        width: 180px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        display: flex;
        padding: 0 19px;
        align-items: center;
        justify-content: space-between;
        margin: 25px 0;

        .authText{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 12px;
            color: #858585;
        }
    }
}