#scheduleContainer{
    border-left: 5px solid #9BDD7C;
    padding:5px 15px;
    margin: 13px 0 0 ;

    #line1{
        margin:2px 0 5px;
        font-family: 'Lato';
        font-weight: 700;
        font-size: 14px;
        color: #666666;
        line-height: 17px;

    }
    .timeAndVenue{
        margin:0 0 5px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 12px;
        color: #999999;
        line-height: 14px;
    }
}